{{#each this}}
<li class="gallery-item">
<a href='{{this.largeImageURL}}' onclick="return false">
  <div class='photo-card'>
    <img class = "gallery-img"
      src='{{this.webformatURL}}'
      alt='{{this.tags}}'
      loading='lazy'
      height='240px'
      width='320px'
      data-likes = "{{this.likes}}"
    /> 
    <div class='info'>
      <p class='info-item'>
        <b>Likes</b> </br>        {{this.likes}}
      </p>
      <p class='info-item'>
        <b>Views</b></br>{{this.views}}
      </p>
      <p class='info-item'>
        <b>Comments</b></br>
        {{this.comments}}
      </p>
      <p class='info-item'>
        <b>Downloads</b></br>
        {{this.downloads}}
      </p>
    </div>
  </div></a>
  </li>
 
{{/each}}